/*COLOR*/
$color-dark : #131A2F;
$color-very-dark : darken($color-dark, 5%);
$color-light-dark : lighten($color-dark, 5%);
$color-very-light-dark : lighten($color-dark, 10%);
$color-light: lighten($color-dark, 75%);
$color-dark-light: #666;
$color-primary: #16877F;
$color-secondary: #91A5C6;

$color-dark--inverted : #fff;
$color-very-dark--inverted : darken($color-dark--inverted, 5%);
$color-light-dark--inverted : lighten($color-dark--inverted, 5%);
$color-very-light-dark--inverted : lighten($color-dark--inverted, 10%);
$color-light--inverted: lighten($color-dark--inverted, 75%);
$color-dark-light--inverted: #666;
$color-primary--inverted: $color-primary;
$color-secondary--inverted: #969696;

