/*COLOR*/
$color-dark : #131A2F;
$color-very-dark : darken($color-dark, 5%);
$color-light-dark : lighten($color-dark, 5%);
$color-very-light-dark : lighten($color-dark, 10%);
$color-light: lighten($color-dark, 75%);
$color-dark-light: #b6b6b6;
$color-primary: #16877F;
$color-primary-dark: darken($color-primary, 5%);
$color-primary-very-light: lighten($color-primary, 15%);
$color-primary-light: lighten($color-primary, 5%);
$color-secondary: #cbbc6d;
$color-tertiary: #5d7696;
$color-tertiary-light: lighten($color-tertiary, 5%);
$color-tertiary-dark: darken($color-tertiary, 5%);

$color-dark--inverted : #fff;
$color-very-dark--inverted : darken($color-dark--inverted, 5%);
$color-light-dark--inverted : lighten($color-dark--inverted, 5%);
$color-very-light-dark--inverted : lighten($color-dark--inverted, 10%);
$color-light--inverted: lighten($color-dark--inverted, 75%);
$color-dark-light--inverted: #666;
$color-primary--inverted: $color-primary;
$color-secondary--inverted: #969696;

