@mixin grayscale($opacity: 0.2) {
  filter: grayscale(50%) saturate(0) opacity($opacity) brightness(50%) contrast(200%);
}

@mixin invert() {
  filter: brightness(0) invert(1);
  color: $color-light;
  z-index: -1;
}

@mixin whitify() {
  filter: brightness(0) invert(1);
}