//  Breakpoints
$breakpoint-xxs: 320px;
$breakpoint-xxs1: 320px;
$breakpoint-xs: 560px;
$breakpoint-s: 768px;
$breakpoint-m: 992px;
$breakpoint-l: 1170px;
$breakpoint-xl: 1344px;
$breakpoint-xxl: 1680px;
$breakpoint-fullHD: 1920px;
