//HOVER-SLIDE TRANSITIONS
$hover: all 0.2s ease-in;
$slide: all 0.4s 0.1s cubic-bezier(0.55, 0, 0.1, 1);

.transitions {
  .switch-onoff__button {
    transition: $slide;

    img {
      transition: .33s;
    }
  }

  .switch-onoff__slide {
    transition: $hover;
  }
}

body:not(.EDK__body) {
  .switch-onoff__slide {
    box-shadow: inset 0 0 0 1px $color-very-dark;
    background-color: $color-very-dark;

    &.open {
      .switch-onoff {
        &__button {
          background-color: $color-primary;
        }
      }
    }
  }

  .switch-onoff__button {
    background-color: $color-very-dark;
  }
}

.switch-onoff__slide {
  display: inline-block;
  height: 24px;
  width: 48px;
  box-shadow: inset 0 0 0 1px $color-very-dark--inverted;
  border-radius: 12px;
  position: relative;
  background-color: darken($color-very-dark--inverted, 5%);
  cursor: pointer;

  &.open {
    .switch-onoff {
      &__button {
        background-color: $color-primary--inverted;
        transform: translateX(-24px);
      }

      &__light {
        opacity: 1;
      }

      &__dark {
        opacity: 0;
      }
    }
  }
}

.switch-onoff__button {
  display: block;
  background-color: $color-very-dark--inverted;
  width: 24px;
  height: 24px;
  border-radius: 13px;
  position: absolute;
  right: 0;
  top: 0;
  backface-visibility: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.switch-onoff__light {
      opacity: 0;
    }
  }
}