// Global sass
@import "../global/**/*.scss";
@import "./partials/**/*.scss";

//ELEMENTS
.popup {
  &__body {
    padding: 3em 1.5em;
    text-align: center;
    min-width: 450px;
    transition: .33s;
  }
}

body:not(.EDK__body) {
  background-color: $color-light-dark;
}